@import "../Variables";

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  overflow: auto;

  .hr-classifier {
    border: 1px solid var(--borderColor);
    width: 90%;
    margin: 0 auto;
    background-color: black;
  }
}


