@import '../Variables';

.hr-classifier {
  border: 1px solid var(--borderColor);
  width: 90%;
  margin: 0 auto;
  background-color: black;
}

.projects-wrapper {
  display: flex;
  margin: 20px 5%;
  flex-direction: column;
  min-height: 50vh;
  height: 100%;

  .projectsite-title {
    font-size: 32px;
    margin: 0 0 0.5em 0.5em;
    color: var(--projectsSiteColor);
  }
}
