@import '../Variables';


.clicked-image {
  opacity: 1;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -600px;
  z-index: 2000;

  & img {
    width: 1200px;
    height: 700px;
    opacity: 1;
  }

  @media screen and (max-width: 1235px) {
    margin-top: -300px;
    margin-left: -500px;

    & img {
      width: 1000px;
      height: 600px;
    }
  }
  @media screen and (max-width: 1035px) {
    margin-top: -225px;
    margin-left: -400px;

    & img {
      width: 800px;
      height: 450px;
    }
  }
  @media screen and (max-width: 825px) {
    margin-top: -125px;
    margin-left: -300px;

    & img {
      width: 600px;
      height: 350px;
    }
  }
  @media screen and (max-width: 625px) {
    margin-top: -150px;
    margin-left: -250px;

    & img {
      width: 500px;
      height: 300px;
    }
  }
  @media screen and (max-width: 525px) {
    margin-top: -125px;
    margin-left: -200px;

    & img {
      width: 400px;
      height: 250px;
    }
  }
}

.fade {
  background-color: #585858;
  opacity: .9;

  display: flex;
  align-content: center;
  justify-content: center;

  cursor: pointer;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.project-page-wrapper {
  display: flex;
  height: 100%;
  margin: 3em 4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  .project-col-1 {

    .project-logo {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
  }

  .project-col-2 {
    flex-grow: 1;
    margin-left: 2em;

    .project-title {
      color: #2CBFA4;
      font-weight: 600;
    }

    .social-button-list {
      display: flex;
      flex-wrap: wrap;

      margin: 5em 0;

      .social-button {
        display: flex;

        text-decoration: none;
        cursor: pointer;
        margin-right: 2em;
        margin-bottom: 1em;
        padding: .3em 1em .3em .2em;
        border: 2px solid #2CBFA4;

        font-size: 16px;
        color: #2CBFA4;

        background-color: var(--singleProjectBtn);
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: #2CBFA4;
          color: #F9F9F9;
        }

        &:last-child {
          margin-right: 0;
        }

        .icon {
          margin-left: .4em;
        }

        .social-button-name {
          font-weight: 600;
          font-size: 18px;

          align-self: center;
          margin-left: .5em;
        }
      }
    }
  }

  @media screen and (max-width: $break-smartphone) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .project-col-2 {
      .social-button-list {
        .social-button {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }
  }
}


.project-col-3 {
  .mockup-laptop {
    display: block;
    margin: 0 auto;

    cursor: pointer;

    max-width: 100%;
    height: auto;
  }
}