$break-smartphone: 645px;
$break-small: 425px;
$break-large: 576px;
$break-tablet: 768px;
$break-desktop: 992px;
$break-large-desktop: 1200px;
$break-xlarge-desktop: 1800px;
$break-4K: 2050px;


#root .light {
  --backgroundColor: #ecf0f3;
  --fontColor: black;
  --borderColor: black;

  --projectsBtnBcg: white;
  --projectsBorder: lightgray;
  --projectsSiteColor: #4f4f4f;

  --singleProjectBtn: #F9F9F9;

  --formShadow: inset 4px 4px 6px #cbced1, inset -4px -4px 6px #ffffff;
  --formSubmitShadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  --formSubmitHoverShadow: inset 3px 3px 8px #b1b1b1, inset -3px -3px 8px #ffffff;

  --formBackground: #ecf0f3;
  --formSubmitColor: black;
  --formPlaceholderColor: black;
  --formColor: black;
}

#root .dark {
  --backgroundColor: #2E3945;
  --fontColor: white;
  --borderColor: #161B20;

  --projectsBtnBcg: rgb(42, 50, 57);
  --projectsBorder: #161B20;
  --projectsSiteColor: whitesmoke;

  --singleProjectBtn: rgb(46, 57, 69);

  --formShadow: inset -3px -3px 6px rgba(255, 255, 255, 0.1),
  inset 3px 3px 6px rgba(34, 41, 48, 0.8);
  --formSubmitShadow: -3px -3px 6px rgba(255, 255, 255, 0.1),
  3px 3px 6px rgba(34, 41, 48, 0.8);
  --formSubmitHoverShadow: inset -3px -3px 6px rgba(255, 255, 255, 0.1),
  inset 2px 2px 6px rgba(34, 41, 48, 0.8);;

  --formBackground: #2E3945;
  --formColor: lightgray;
  --formSubmitColor: white;
  --formPlaceholderColor: white;
}

.App {
  transition: all 0.3s !important;
  transition-delay: 0 !important;
}
