@import "../Variables";

.section-contact {
  margin: 0 8%;

  .contact-heading {
    padding: 2% 0;
    text-align: center;

    .contact-title {
      font-weight: 700;
      font-size: 24px;
    }
  }

  .form {
    padding-bottom: 5%;
    margin: 0 auto;
    text-align: center;

    .form-input {
      display: block;
      margin: 0 auto;
      padding: 4%;
      color: var(--formColor);
      border-radius: 25px;
      width: 80%;
      background-color: var(--formBackground);
      font-family: 'Titillium Web', sans-serif;
      font-size: 15px;
      margin-top: 5%;
      outline: none;
      border: none;
      box-shadow: var(--formShadow);

      &::placeholder {
        color: var(--formPlaceholderColor);
        opacity: 50%;
      }

    }

    .form-message {
      resize: none;
      display: block;
      margin: 0 auto;
      margin-top: 5%;
      width: 80%;
      border: none;
      background-color: var(--formBackground);
      border-radius: 15px;
      padding: 4%;
      font-family: 'Titillium Web', sans-serif;
      font-size: 15px;
      outline: none;
      box-shadow: var(--formShadow);
      color: var(--formColor);

      &::placeholder {
        color: var(--formPlaceholderColor);
        opacity: 50%;
      }
    }

    .form-submit {
      border: none;
      padding: 2% 8%;
      color: var(--formSubmitColor) !important;
      border-radius: 999px;
      background-color: var(--formBackground);
      margin-top: 5%;
      font-family: 'Titillium Web', sans-serif;
      font-size: 16px;
      font-weight: 600;
      outline: none;
      box-shadow: var(--formSubmitShadow);

      &:hover {
        box-shadow: var(--formSubmitHoverShadow);
      }
    }
  }

  @media screen and (min-width: $break-small) {

    .form {
      .form-input {
        padding: 3%;
      }

      .form-message {
        padding: 3%;
      }
    }
  }
  @media screen and (min-width: $break-large) {
    .form {
      .form-input {
        padding: 2%;
      }

      .form-message {
        padding: 2%;
      }
    }
  }
  @media screen and (min-width: $break-tablet) {
    .form {
      padding-bottom: 3%;

      .form-input {
        margin-top: 3%;
      }

      .form-message {
        margin-top: 3%;
      }

      .form-submit {
        margin-top: 3%;
      }
    }
  }
  @media screen and (min-width: $break-desktop) {
    margin: 0 3% 0 8%;
  }
}
