@import '../Variables';

.logo {
  width: 28%;
  float: left;
  padding: 4% 5% 4% 7%;

  .andret-logo {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 60%;
    margin-top: 1%;
  }

  .logo-name {
    display: none;
    float: left;
    padding-left: 5%;
    font-weight: 700;
    margin: 0;
    color: var(--fontColor);

    .profession {
      font-family: 'Cormorant Garamond', serif;
      font-weight: 300;
      font-style: italic;
      color: var(--fontColor);
      opacity: 85%;
      margin: 0;
    }
  }

  @media screen and (min-width: $break-small) {
    width: 38%;
    padding: 3% 5% 3% 7%;

    .andret-logo {
      float: left;
      height: 40px;
      width: 40px;
      border-radius: 60%;
      margin-top: 1%;
    }

    .logo-name {
      display: none;
      float: left;
      padding-left: 5%;
      font-weight: 700;
      margin: 0;
      color: var(--fontColor);

      .profession {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
        font-style: italic;
        color: var(--fontColor);
        opacity: 85%;
        margin: 0;
      }
    }
  }
  @media screen and (min-width: $break-large) {
    width: 38%;
    float: left;
    padding: 3% 5% 3% 7%;

    .andret-logo {
      floaT: left;
      height: 40px;
      width: 40px;
      border-radius: 60%;
      margin-top: 2%;
    }

    .logo-name {
      display: none;
    }
  }
  @media screen and (min-width: $break-tablet) {
    width: 38%;
    float: left;
    padding: 3% 5% 3% 7%;

    .andret-logo {
      floaT: left;
      height: 50px;
      width: 50px;
      border-radius: 60%;
      margin-top: 0;
    }

    .logo-name {
      display: block;


      .profession {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
        font-style: italic;
        font-size: 16px;
        margin: 0;
      }
    }
  }
  @media screen and (min-width: $break-desktop) {
    width: 38%;
    float: left;
    padding: 2% 5% 2% 7%;

    .andret-logo {
      floaT: left;
      height: 60px;
      width: 60px;
      border-radius: 60%;
      margin-top: 0%;
    }

    .logo-name {
      display: block;
      float: left;
      padding-left: 5%;
      font-weight: 700;
      font-size: 20px;
      margin: 0;
    }
  }
  @media screen and (min-width: $break-large-desktop) {
    width: 38%;
    float: left;
    padding: 1.5% 5% 1.5% 7%;

    .andret-logo {
      floaT: left;
      height: 60px;
      width: 60px;
      border-radius: 60%;
      margin-top: 0%;
    }

    .logo-name {
      display: block;
      float: left;
      padding-left: 5%;
      font-weight: 700;
      font-size: 20px;
      margin: 0;
    }
  }
  @media screen and (min-width: $break-xlarge-desktop) {
    width: 38%;
    float: left;
    padding: 1.5% 5% 1.5% 7%;

    .andret-logo {
      floaT: left;
      height: 60px;
      width: 60px;
      border-radius: 60%;
      margin-top: 0;
    }

    .logo-name {
      display: block;
      float: left;
      padding-left: 5%;
      font-weight: 700;
      font-size: 20px;
      margin: 0;
    }
  }
  @media screen and (min-width: $break-4K) {
    width: 38%;
    float: left;
    padding: 1% 5% 1% 7%;

    .andret-logo {
      floaT: left;
      height: 60px;
      width: 60px;
      border-radius: 60%;
      margin-top: 0;
    }

    .logo-name {
      display: block;
      float: left;
      padding-left: 5%;
      font-weight: 700;
      font-size: 20px;
      margin: 0;
    }
  }
}