@import '../Variables';

.project-item {
  margin: 10px 5px;
  border-bottom: 0.1em solid var(--projectsBorder);
  display: flex;
  min-height: 20vh;

  .project-logo-div {
    margin: 10px;
    width: 80px;

    display: flex;
    flex-basis: border-box;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .project-logo-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }

  .project-name-div {
    flex-grow: 1;

    .project-title {
      color: rgb(44, 191, 164);
      margin: 0.5em;
    }

    .project-desc {
      margin: 0 0.5em 0 0.5em;
      height: auto;
    }

    .project-button-readmore {
      text-align: center;
      width: 100px;
      padding: 0.2em;
      margin: 5em 0 0.5em 0.5em;
      background-color: var(--projectsBtnBcg);
      border: 2px solid rgb(44, 191, 164);
      cursor: pointer;
      outline: none;

      transition: 0.35s;

      font-family: 'Titillium Web', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: rgb(44, 191, 164);

      &:hover, &:focus {
        box-shadow: inset 0 -5em 0 0 rgb(44, 191, 164);
        color: whitesmoke;
      }
    }
  }

  &:last-child {
    border-bottom: none;
  }
}