@import "../Variables";

.section-quote {
  margin: 0 8%;
  padding-bottom: 2%;
  font-style: italic;
  text-align: center;
  border-bottom: 2px solid var(--borderColor);

  @media screen and (min-width: $break-small) {
    margin: 0 7%;
  }

  @media screen and (min-width: $break-tablet) {
    margin: 0 6%;
  }

  @media screen and (min-width: $break-desktop) {
    margin: 0 3% 0 8%;
  }
}
