@import '../Variables';


.recommended-link {
  text-decoration: none;
  transition: 0.2s ease-in-out;

  &:visited {
    color: var(--fontColor);
  }

  &:hover {
    color: #2CBFA4;
  }

  .recommended-item {
    margin: 5% 4% 5% 5%;
    min-height: 60px;
    padding-bottom: 5%;
    border-bottom: 0.1em solid var(--projectsBorder);

    .recommended-image-section {
      float: left;
      width: 30%;

      .recommended-image {
        width: 60px;
        height: auto;
        border-radius: 50%;
      }
    }

    .recommended-data {
      float: left;
      width: 70%;
      word-wrap: break-word;

      .recommended-name {
        margin: 0;
      }

      .recommended-profession {
        font-size: 14px;
      }
    }
  }

  @media screen and (min-width: $break-large-desktop) {
    .recommended-item {
      .recommended-image-section {
        width: 25%;
      }
    }
  }
}