@import "../Variables";

.recommended {
  display: none;
  border-left: 2px solid var(--borderColor);
  float: left;
  width: 28%;
  margin-top: 1.25%;
  margin-bottom: 1.25%;
  min-height: 930px;

  .recommended-title {
    margin: 0 4% 0 5%;
    border-bottom: 2px solid var(--borderColor);
    padding-bottom: 2%;

    .recommended-icon {
      margin-right: 5%;
    }

    .recommended-text {
      font-family: 'Titillium Web', sans-serif;
      font-size: 28px;
      font-weight: 700;
    }
  }

  @media screen and (min-width: $break-desktop) {
    display: block;

    .recommended-text {
      font-size: 25px !important;
    }
  }
  @media screen and (min-width: $break-large-desktop) {
    display: block;
    min-height: 955px;

    .recommended-text {
      font-size: 25px !important;
    }
  }
}
